<div th:fragment="header-bar" class="header-bar">
    <img src="/images/Mini-Shopify%20Logo.png" alt="Mini-Shopify Logo" style="width: 50px; height: 50px;">
    <form id="search-bar" action="/home/search/results" method="get">
        <input type="search" id="searchString" name="searchString" placeholder="Search by shop name or tags...">
        <input th:if="${buyerId != null and buyerId != ''}" type="hidden" name="buyerId" th:value="${buyerId}">
        <input th:if="${merchantId != null and merchantId != ''}" type="hidden" name="merchantId" th:value="${merchantId}">
        <button type="submit">Search</button>
    </form>
    <div class="dropdown-account-menu">
        <button onclick="toggleProfileMenuDropdown()" class="dropdown-account-button">
            <i class="fa fa-user"></i> Account
        </button>
        <div class="dropdown-account-content">
            <a href="/index">Logout</a>
        </div>
    </div>
</div>

<aside th:fragment="side-menu" class="side-menu">
    <div class="menu-item"><i class="fa fa-home" aria-hidden="true"></i>
        <button th:if="${buyerId != null and buyerId != ''}" th:onclick="'location.href=\'/home/buyer/' + ${buyerId} + '\';'">Home</button>
        <button th:if="${merchantId != null and merchantId != ''}" th:onclick="'location.href=\'/home/merchant/' + ${merchantId} + '\';'">Home</button>
    </div>
    <div class=" menu-item" th:if="${buyerId}"><i class="fa fa-shopping-cart"></i>
        <button  aria-hidden="true" th:onclick="'location.href=\'/home/carts/' + ${buyerId} + '\';'"> Cart</button>
    </div>
</aside>