<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mini-Shopify Buyer Home</title>
    <meta charset="UTF-8">
    <meta name="author" content="Nicholai Ponomarev">
    <link rel="stylesheet" href="/css/merchant_home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="/js/profile_menu_dropdown.js"></script>
</head>

<body>
<div th:replace="fragments/common :: header-bar"></div>
<div class="main-content">
    <aside th:replace="fragments/common :: side-menu"></aside>
        <main class="content-area">
            <div class="page-title-div">
                <div>
                    <h1 th:text="'Welcome to '+ ${buyer.name} + '\'s Dashboard'">Dashboard</h1>
                    <p>Manage your business activities, check orders, and stay on top of inventory and customer needs.
                    </p>
                </div>
            </div>
        </main>
    </div>
</body>
</html>