<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mini-Shopify Merchant Home</title>
    <meta charset="UTF-8">
    <meta name="author" content="Nicholai Ponomarev, Rebecca Elliott">
    <link rel="stylesheet" href="/css/cart_home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="/js/profile_menu_dropdown.js"></script>
</head>

<body>
<div th:replace="fragments/common :: header-bar"></div>
<div class="main-content">
    <aside th:replace="fragments/common :: side-menu"></aside>
    <main class="content-area">
        <div class="page-title-div">
            <div>
                <h1 th:text="'Welcome to cart Dashboard'">Dashboard</h1>
                <p>Manage the items in your cart.
                </p>
            </div>
            <button th:href="@{/carts/{cartId}/checkout(cartId=${cart.getId()})}" id="checkout-button">Checkout</button>
        </div>
        <h1 style="margin-top: 20px;">My Items</h1>
        <div class="total-display">
            Total: $<span th:text="${cart.getRunningTotal()}">0.00</span>
        </div>
        <section class="tiles-container">
            <div class="tile" th:each="item : ${cart.items}">
                <h2 th:text="${item.product.name}">Item name</h2>
                <h4 th:text="'Price: $' + ${item.product.price} + ' x ' + ${item.quantity} + ' = $' + ${item.getTotalCost()}">Item price</h4>
                <form th:action="@{/home/carts/{buyerId}/update/{productId}(buyerId=${buyerId}, productId=${item.product.getId()})}" method="post" style="display: inline;">
                    <label>
                        Quantity:
                        <input type="number" name="quantity" th:value="${item.quantity}" min="1" style="width: 50px;">
                    </label>
                    <button type="submit">Update</button>
                </form>
                <div th:if="${alertItemId == item.product.id}" class="alert">
                    <p th:text="${alertMessage}"></p>
                </div>
                <img th:src="${item.product.imagePath}" alt="Item Stock Image 1">

                <form th:action="@{/home/carts/{buyerId}/{productId}(buyerId=${buyerId}, productId=${item.product.getId()})}" method="post" style="display: inline;">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit">Remove Product From Cart</button>
                </form>
            </div>
        </section>
    </main>
</div>
</body>

</html>