<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mini-Shopify Merchant Login Page</title>
    <meta charset="UTF-8">
    <meta name="author" content="Nicholai Ponomarev">
    <link rel="stylesheet" href="/css/shopper_merchant_login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="/js/go_back.js"></script>
</head>

<body>
    <div class="page-title-div">
        <h3>Bring your ideas to life for FREE!</h3>
        <p>The future of business is yours to shape</p>
    </div>
    <div class="container">
        <div id="go-back-div" onclick="goBack('index')">
            <i class="fa fa-arrow-left" id="go-back-arrow" aria-hidden="true"></i>
        </div>
        <div class="login-button-div">
            <button class="login-button">Login with email</button>
            <!-- <div class="social-login-div">
                <button class="login-button">Login with Google</button>
                <div class="divider"></div>
                <button class="login-button">Login with Microsoft</button>
            </div> -->
        </div>
        <div id="email-login-div">
            <form action="">
                <label for="email">Email</label>
                <input type="text" id="email" name="email">
                <div class="form-input-div"></div>
                <div class="label-forgot-password">
                    <label for="password">Password</label>
                    <a href="">Forgot Password?</a>
                </div>
                <input type="password" id="password" name="password">
                <input type="submit" value="Login">
            </form>
        </div>
        <div class="register-link">
            <p>Don't have a merchant account? <a href="/registerMerchant"
                    aria-label="Register for a merchant account">Register here</a>.</p>
        </div>
    </div>
    <script src="/js/login_with_email.js" defer></script>
</body>

</html>