<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mini-Shopify Merchant Home</title>
    <meta charset="UTF-8">
    <meta name="author" content="Nicholai Ponomarev">
    <link rel="stylesheet" href="/css/merchant_home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <script>
        function toggleProfileMenuDropdown() {
            const dropdownContent = document.querySelector(".dropdown-account-content");
            const newShopButton = document.querySelector("#create-shop-button");

            // Toggle dropdown visibility
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none"; // Hide dropdown
                newShopButton.style.display = "block";  // Show "Create Shop" button
            } else {
                dropdownContent.style.display = "block"; // Show dropdown
                newShopButton.style.display = "none";   // Hide "Create Shop" button
            }
        }

        window.onclick = function (event) {
            const dropdownContent = document.querySelector(".dropdown-account-content");
            const dropdownButton = document.querySelector(".dropdown-account-button");
            const newShopButton = document.querySelector("#create-shop-button");

            // Close dropdown if the user clicks outside the button and dropdown
            if (!event.target.matches('.dropdown-account-button') && !event.target.matches('.dropdown-account-content') && !event.target.matches('#create-shop-button')) {
                if (dropdownContent) {
                    dropdownContent.style.display = "none"; // Hide dropdown
                    newShopButton.style.display = "block";  // Show "Create Shop" button
                }
            }
        }

    </script>
</head>

<body>
    <div class="header-bar">
        <img src="/images/Mini-Shopify Logo.png" alt="Mini-Shopify Logo" style="width: 50px; height: 50px;">
        <form id="search-bar" action="/searchResults" method="get">
            <input type="search" id="searchString" name="searchString" placeholder="Search by shop name or tags...">
            <button type="submit">Search</button>
        </form>
        <div class="dropdown-account-menu">
            <button onclick="toggleProfileMenuDropdown()" class="dropdown-account-button">
                <i class="fa fa-user"></i> Account
            </button>
            <div class="dropdown-account-content">
                <a href="#">Manage Account</a>
                <a href="index.html">Logout</a>
            </div>
        </div>
    </div>
    <div class="main-content">
        <aside class="side-menu">
            <div class="menu-item"><i class="fa fa-home" aria-hidden="true"></i>
                <p> Home</p>
            </div>
            <div class="menu-item"><i class="fa fa-shopping-cart"></i>
                <p> Orders</p>
            </div>
            <div class="menu-item"><i class="fa fa-cog"></i>
                <p> Settings</p>
            </div>
        </aside>
        <main class="content-area">
            <div class="page-title-div">
                <div>
                    <h1 th:text="'Welcome to '+ ${merchant.name} + '\'s Dashboard'">Dashboard</h1>
                    <p>Manage your business activities, check orders, and stay on top of inventory and customer needs.
                    </p>
                </div>
                <button id="create-shop-button">Create a Shop</button>
            </div>
            <h1 style="margin-top: 20px;">My Shops</h1>
            <section class="tiles-container">
                <div class="tile" th:each="shop : ${merchant.shops}">
                    <a th:href="@{/home/{merchantId}/{shopId}(merchantId=${merchant.id}, shopId=${shop.id})}" class="tile-link">
                        <h2 th:text="${shop.name}">Shop name</h2>
                        <img src="/images/nafinia-putra-Kwdp-0pok-I-unsplash.jpg" alt="Shop Stock Image 1">
                        <div class="displayTags">
                            <ul>
                                <li th:each="tag : ${shop.tags}">
                                    <p th:text="${tag.name}">magic</p>
                                </li>
                            </ul>
                        </div>
                    </a>
                    <!-- Display Tags
                    <div class="displayTags">
                        <ul>
                            <li th:each="tag : ${shop.tags}">
                                <p th:text="${tag.name}">magic</p>
                            </li>
                        </ul>
                    </div>
                    Display Tags -->
                </div>
            </section>
        </main>
        <div id="create-shop-modal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <form th:action="@{/{id}/createShop(id=${merchant.id})}" method="post">
                    <label for="select_shop_img">Select Shop Display Image:</label>
                    <input type="file" id="select_shop_img" name="select_shop_img" accept="image/*">
                    <label for="shopName">Shop Name:</label><br>
                    <input type="text" id="shopName" name="shopName"><br>
                    <p><label for="shopDescription">Shop Description:</label></p>
                    <textarea id="shopDescription" name="shopDescription" rows="4" cols="50"></textarea>
                    <!-- Shop Tags -->
                    <p><label>Shop Tags:</label></p>
                    <table>
                        <!-- Row -->
                        <tr>
                            <td>
                                <label for="APPLIANCES">
                                    <input type="checkbox" id="APPLIANCES" name="shopTags" value="APPLIANCES">
                                    APPLIANCES
                                </label>
                            </td>
                            <td>
                                <label for="BABY">
                                    <input type="checkbox" id="BABY" name="shopTags" value="BABY">
                                    BABY
                                </label>
                            </td>
                            <td>
                                <label for="CLOTHES">
                                    <input type="checkbox" id="CLOTHES" name="shopTags" value="CLOTHES">
                                    CLOTHES
                                </label>
                            </td>
                        </tr>
                        <!-- Row -->
                        <tr>
                            <td>
                                <label for="COMPUTERS">
                                    <input type="checkbox" id="COMPUTERS" name="shopTags" value="COMPUTERS">
                                    COMPUTERS
                                </label>
                            </td>
                            <td>
                                <label for="ELECTRONICS">
                                    <input type="checkbox" id="ELECTRONICS" name="shopTags" value="ELECTRONICS">
                                    ELECTRONICS
                                </label>
                            </td>
                            <td>
                                <label for="ENTERTAINMENT">
                                    <input type="checkbox" id="ENTERTAINMENT" name="shopTags" value="ENTERTAINMENT">
                                    ENTERTAINMENT
                                </label>
                            </td>
                        </tr>
                        <!-- Row -->
                        <tr>
                            <td>
                                <label for="GROCERY">
                                    <input type="checkbox" id="GROCERY" name="shopTags" value="GROCERY">
                                    GROCERY
                                </label>
                            </td>
                            <td>
                                <label for="HOME">
                                    <input type="checkbox" id="HOME" name="shopTags" value="HOME">
                                    HOME
                                </label>
                            </td>
                            <td>
                                <label for="KITCHEN">
                                    <input type="checkbox" id="KITCHEN" name="shopTags" value="KITCHEN">
                                    KITCHEN
                                </label>
                            </td>
                        </tr>
                        <!-- Row -->
                        <tr>
                            <td>
                                <label for="LIVING">
                                    <input type="checkbox" id="LIVING" name="shopTags" value="LIVING">
                                    LIVING
                                </label>
                            </td>
                            <td>
                                <label for="PHONE">
                                    <input type="checkbox" id="PHONE" name="shopTags" value="PHONE">
                                    PHONE
                                </label>
                            </td>
                            <td>
                                <label for="TOYS">
                                    <input type="checkbox" id="TOYS" name="shopTags" value="TOYS">
                                    TOYS
                                </label>
                            </td>
                        </tr>
                    </table>
                    <!-- Submit -->
                    </br>
                    <input type="submit" value="Create Shop">
                </form>
            </div>
            <script>
                var create_shop_modal = document.getElementById("create-shop-modal");
                var create_shop_btn = document.getElementById("create-shop-button");

                // Get the <span> element that closes the modal, this is the (x)
                // We need to get the [0] because getElementsByClassName returns a collection of HTML element
                var close_modal_span = document.getElementsByClassName("close")[0];

                // When the user clicks the button, open the modal
                create_shop_btn.onclick = function () {
                    create_shop_modal.style.display = "block";
                }

                // When the user clicks on <span> (x), close the modal
                close_modal_span.onclick = function () {
                    create_shop_modal.style.display = "none";
                }

                // When the user clicks anywhere outside of the modal, close it
                window.onclick = function (event) {
                    if (event.target == create_shop_modal) {
                        create_shop_modal.style.display = "none";
                    }
                }
            </script>
        </div>
    </div>
</body>

</html>
